.aboutAuthor , .blogsAbout {
    text-align: center;
    margin: 0 auto;
    padding: 0.1rem;
}

@media (prefers-color-scheme: dark) {
    .aboutAuthor , .blogsAbout {
        color: #ccc;
    }
}