.topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0.5rem auto 5rem;
}

.button {
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: background-color .3s ease,color .3s ease;
    border-radius: 6px;
    min-width: 4ch;
    text-align: center;
    font-size: 0.9rem;
}

.button:hover {
    background-color: #00000011;
}

@media (prefers-color-scheme: dark) {
    .button {
        color: #fff;
        background-color: #111;
    }
    .button:hover {
        background-color: #ffffff11;
    }
}